
@{
    ViewBag.Title = "Order";
}
<!--Will allow a user to input data to finish order request-->
<h2>Please enter order Information!</h2>
<form>
    <h3> Personal Information: </h3>
    <br />
    First Name: <input type="text" name="firstName" />
    <br />
    Last Name: <input type="text" name="lastName" />
    <br />
    Company Name: <input type="text" name="companyName" />
    <br />
    Address Line 1: <input type="text" name="address1" />
    <br />
    Address Line 2: <input type="text" name="address2" />
    <br />
    City : <input type="text" name="city" />
    <br />
    State : <input type="text" name="state" />
    <br />
    Postal Code : <input type="text" name="postalCode" />
    <br />
    Country Code : <input type="text" name="countryCode" />
    <br />
    Email : <input type="text" name="email" />
    <br />
    Phone Number : <input type="text" name="phone" />
    <br />
    <br />
    <h3>Payment Information</h3>
    <br />
    Payment Method : <input type="text" name="paymentMethod" />
    <br />
    <br />
    <input type="submit" value="Submit Order" />
</form>



