@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Hello! My name is Nathan Lewis, and this is my first .NET Framework application.</p>

<p>This application will reach out to the PFL test API twice.</p>

<p>The first request is a GET. This will return all of the products that are sold by PFL</p>

<p>The second request is a POST. The POST will be an order to the API with information from the user</p>
