@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PFL Order App</h1>
    <p class="lead">Click here to view the product list!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

