@{
    ViewBag.Title = "Home Page";
}
<!-- Creates a large window -->
<div class="jumbotron">
    <h1>PFL Order App</h1>
    <p class="lead">Click here to view the product list!</p>
    <!--Link to the Products page-->
    <p><a href="/Product/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

