
@{
    ViewBag.Title = "Products";
}
<!--Will display Products returned from the API-->
<h2>Product List</h2>

<div>
    @{List<ProductsJSON> productList = ViewData["ProductList"]; }

    <p>
        @{productList[0].id.get() ; }
    </p>

</div>