@using pfl.Models;
@{
    ViewBag.Title = "Products";

}

<!--Will display Products returned from the API-->
<h2>Product List</h2>

<div>
    @try
    {


        foreach (ProductsJSON item in (List<ProductsJSON>)ViewData["ProductList"])
        {

        <p>
            @item.Id;
        </p>
        }
    }catch(Exception e)
    {
        Console.WriteLine(e);
    }

    </div>